export(check_holiday)
export(contain_string)
export(days_before_holiday)
export(eud.dist_center)
export(get_name_tag)
export(is_end_of_month)
export(is_start_of_month)
export(number_of_days)
export(pay_check_tagger)
export(sim_trans_tag)
